<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <H1 class="text-4xl text-red-600 m-5 p-5">Editing Filename</H1>
        <form action="/edit" method="post">
            <a class="text-blue-500" href="/">Back to home</a>
            <input class="block w-1/4  rounded-lg  px-3 mt-2 py-2 bg-zinc-800" type="text"
                placeholder="previous name" name="previous" value="<%=previousname%>">
                <input class="block w-1/4  rounded-lg  px-3 mt-2 py-2 bg-zinc-800" type="text"
                placeholder="New Name" name="newname">
            <input class="mt-2 bg-yellow-500 px-5 py-2 rounded-lg" type="submit" value="confirm">
        </form>
    </div>
    </div>
</body>
</html>